# Build artifacts
firmware/build/
firmware_sam/build/

# macOS
.DS_Store

# Xcode
**/xcuserdata/
**/.xcuserstate
ios_app/*.xcodeproj/xcuserdata/
ios_app/*.xcworkspace/xcuserdata/
ios_app/DerivedData/
ios_app/.build/

# Python
__pycache__/
*.pyc
